.header { 
    text-align: center;
    height: 220px;
    width: auto;
    background-color: #9999cc;
    padding: 1%
}

.logo {
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 20px;
    background-color: #9999cc;
    border: 5px solid purple;
    width: 75%;
}

.logo a:hover {
  background-color: blueviolet;
}

.column {
    float: left;
    width: 50%;
    text-align: center;
   
}

.column-l {
    float: left;
    width: 75%;
   
    padding: 1%;
    margin: 10px;
   
    
}

.column-r {
    float: left;
    width: 25%;
    
    padding: 1%
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: purple;
   color: white;
   text-align: center;
}

#customer-service { 
    display: inline;
}
/*----------Navbar----------*/

.active { 
    background-color: purple;
}

.navbar {
  width: 75%;
  background-color: #9999cc;
  overflow: auto;
  border: 5px solid purple;
  float: right;
}

.navbar a {
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 20px;
}
.navbar a:hover {
  background-color: blueviolet;
}

/*----------Media----------*/
